.azeret-mono {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: 0D1321;
  }

  /* shared */

  /* header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.btn {
    border-radius: 6px;
    border-color: black;
    padding: 10px ;
    width: auto;
    background-color: white;
  }

/* banner */
.banner {
    background-image: url("./assets/Hero-bg.png");
    background-size: cover;
    text-align: center;
    height: 550px;
    
}
.banner-img{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    justify-content: center;
    display: grid;
}

.banner-text{
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    font-weight: 700;
}

.banner-text2{
    text-align: center;
    font-weight: 400;
}

.banner-btn{
    border-radius: 6px;
    border-color: black;
    padding: 10px ;
    width: auto;
    background: rgba(13, 19, 33, 1);
    color: white;
    display: inline-block;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* About Webdev */
.container{
    margin: 50px 100px;
    padding: 20px;
    background-color: rgb(246, 246, 246);
}
.parts{
    margin: 80px;
    padding: 80px;
    display: flex;
    justify-content:center;
    background-color: white;
    border-radius: 10px;
}
.part{
    text-align: start;
    margin-right: 50px;
    font-size: larger;
    font-weight: 700px;
}

.parts-text{
    font-weight: 400;
    font-size: small;
}
.parts-btn {
    border-radius: 6px;
    border-color: black;
    padding: 15px ;
    width: auto;
    background-color: white;
  }